/* default settings */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.grey { color: #777777; }
body { background: url('../img/brickwall.png') repeat; }

/* author's style */

header {
    width: 100%;
    height: 100px;
    margin: 0 0 20px 0;
}
/* что-бы прижать заголовок к верху */
header h1 {
    margin: 15px 0 0 0;
    position: relative;
    left: 5px;
}

.main-table a {
    font-size: 12pt;
    color: #3651BC;
    text-decoration: underline;
}
.main-table a:hover {
    color: #5E318A;
}