/* default settings */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.grey { color: #777777; }

/* author's style */

header {
    width: 100%;
    height: 100px;
    background-color: #FFCFAD;
}

.main-table a {
    font-size: 12pt;
    color: #3651BC;
}

.main-table a:hover {
    color: #7295D6;
}