/* default settings */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.grey { color: #777777; }
body { 
    background: url('../img/brickwall.png') repeat; 
    background-attachment: fixed;
}
.myspoiler {
    width: 100%;
    display: none;
    background-color: #ffffff;
    border-radius: 5px;
}
/* скрывает блок с объявлением переменных php в шаблоне */
#definition {display: none;}

/* author's style */

header {
    width: 100%;
    height: 100px;
    margin: 0 0 20px 0;
}
/* что-бы прижать заголовок к верху */
header h1 {
    margin: 15px 0 0 0;
    position: relative;
    left: 5px;
}

.main-table {
    background-color: #ffffff;
}
.main-table a {
    font-size: 12pt;
    color: #3651BC;
    text-decoration: underline;
}
.main-table a:hover {
    color: #5E318A;
}

#intocontent {
    background-color: #fff;
    min-height: 500px; 
}
/* кнопки вход зврегистрироваться */
#log_btns_group {
    width: 360px;
    margin: 0 auto;
    position: relative;
    top: 150px;
}
#log_btns {margin-left: 60px;}
/* страница входа */
.login-form {
    width: 510px;
    margin: 100px auto 0;
}
.login-form h3 {text-align: center;}
.login-btns {
    position: relative;
    left: 140px;
    bottom: 10px;
}
.login-errors {
    width: 600px;
    margin: 10px auto 0;
}

/* страница регистрации */
#reg-form {
    width: 300px;
    margin: 100px auto 0;
    /*border: 1px solid #000;*/
}
#reg-form h4 {text-align: center; position: relative; right: 15px;}
#regbutton {
    position: relative;
    left: 30px;
    margin-top: 10px; 
}
.reg-spl-btn {
    position: relative;
    left: 25px;
}
/* add page */
#left-call-add {
    width: 350px;
    float: left;
}
.add-messages {
    width: 320px;
    margin: 0;
}
#right-call-add {
    width: 780px;
    float: right;
}
.add_site_title { 
    text-align: center; 
    margin: 0 0 20px 0;
}
#get_m_sites { position: relative; left: 340px; }
.table-code {
    display: none;
    background-color: #FCFCD2;
}
.table-code td {
    width: 100%;
}
.show-code { cursor: pointer; }